<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <h1>Help article page not found</h1>
    <a href="/help">Click Here to go Help page </a>

    {{>footer}}
</body>
    
</html>


