<title>Welcom to Weather Application</title>
{{!-- <div class="header">
    <h3>{{ title }}</h3>
</div> --}}
{{!-- <div class="container">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div> --}}
<header>
    <h1>{{ title }}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>