body {
    color: black;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    /* background-color: darkorange; */
    background-image: url('/img/weather.png');
    /* background-position: center; */
    background-repeat: no-repeat;
}

footer {
    color: black;
    border-top: thin solid #eeeeee;
    margin-top: 16px;
    padding-top: 16px 0;
    position: fixed;
    bottom: 0;
    width: 650px;
    text-align: right;
}

footer p {
    color: black
    font-weight: 700;
    font-style: italic;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 54px;
}

header a {
    text-decoration: none;
    color: black;
    margin-right: 16px;
    font-size: large;
    font-weight: bold;
}

img {
    height: 20%;
    width: 40%;
    border: thick solid black;
}

.inputBox {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
    color: black;
}

#searchId {
    margin-left: 20px;
    padding: 15px;
    border: thin;
    border-style: solid;
    border-radius: 5px;
    background-color: ivory;
    font-weight: bold;
    font-family: arial;
    cursor: pointer;
}

#forecastInfo1, #forecastInfo2 {
    font-weight: bold;
}

#rportCardHeader {
    display: none;
}

/* img {
    height: 20%;
    width: 40%;
    border: thick solid black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    text-align: right;
    color: crimson;
}

.footer p {
    margin-right: 2%;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    color: crimson;
    margin-bottom: auto;
    font-family: 'Times New Roman';
    font-size: x-large;
}

.container {
    margin-top:7%;
}

.container a{
    padding: 0.7%;
} */